<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c{10} - %msg%n"/>
      <LevelRangeFilter minLevel="Info" maxLevel="Info" onMatch="ACCEPT" onMismatch="DENY"/>
    </Console>
    <File name="FileFatal" fileName="log/fatal.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c{10} - %msg%n"/>
      <LevelRangeFilter minLevel="Fatal" maxLevel="Fatal" onMatch="ACCEPT" onMismatch="DENY"/>
    </File>
    <File name="FileWarning" fileName="log/warning.log">
      <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %c{10} - %msg%n"/>
      <LevelRangeFilter minLevel="Warn" maxLevel="Warn" onMatch="ACCEPT" onMismatch="DENY"/>
    </File>
  </Appenders>
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="FileFatal"/>
      <AppenderRef ref="FileWarning"/>
    </Root>
  </Loggers>
</Configuration>